<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19060756646-gp42oetgr76kj014fagh69n49nt3eoot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19060756646-gp42oetgr76kj014fagh69n49nt3eoot</string>
	<key>API_KEY</key>
	<string>AIzaSyDWx3n3cf7_NJxcaA33Cfgq9HxN85V7O4k</string>
	<key>GCM_SENDER_ID</key>
	<string>19060756646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobr1</string>
	<key>PROJECT_ID</key>
	<string>fiap-mobr</string>
	<key>STORAGE_BUCKET</key>
	<string>fiap-mobr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19060756646:ios:646a4fb67c1678341d6467</string>
	<key>DATABASE_URL</key>
	<string>https://fiap-mobr-default-rtdb.firebaseio.com</string>
</dict>
</plist>