<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028422653014-5kftol8eqi5mecnq9507bm3qm75p9rmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028422653014-5kftol8eqi5mecnq9507bm3qm75p9rmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDnE9tO8MfbNu3gBAUhe_wUpVwDJCW0m6g</string>
	<key>GCM_SENDER_ID</key>
	<string>1028422653014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobr1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mob1-a3551</string>
	<key>STORAGE_BUCKET</key>
	<string>mob1-a3551.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028422653014:ios:1f588b2531eb1767c457f7</string>
</dict>
</plist>